MP3Testing/bin/Debug/MP3Testing.exe
MP3Testing/bin/Debug/MP3Testing.pdb
MP3Testing/bin/Debug/MP3Testing.vshost.exe
MP3Testing/obj/Debug/AlbumInfoControl.baml
MP3Testing/obj/Debug/AlbumInfoControl.g.cs
MP3Testing/obj/Debug/AlbumInfoControl.g.i.cs
MP3Testing/obj/Debug/Control/SongInfoControl.baml
MP3Testing/obj/Debug/Control/SongInfoControl.g.cs
MP3Testing/obj/Debug/Control/SongInfoControl.g.i.cs
MP3Testing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MP3Testing/obj/Debug/ExpressionDark.baml
MP3Testing/obj/Debug/GeneratedInternalTypeHelper.g.cs
MP3Testing/obj/Debug/MainWindow.baml
MP3Testing/obj/Debug/MainWindow.g.cs
MP3Testing/obj/Debug/MainWindow.g.i.cs
MP3Testing/obj/Debug/MP3Testing.csproj.FileListAbsolute.txt
MP3Testing/obj/Debug/MP3Testing.csproj.GenerateResource.Cache
MP3Testing/obj/Debug/MP3Testing.csprojResolveAssemblyReference.cache
MP3Testing/obj/Debug/MP3Testing.exe
MP3Testing/obj/Debug/MP3Testing.g.resources
MP3Testing/obj/Debug/MP3Testing.pdb
MP3Testing/obj/Debug/MP3Testing_MarkupCompile.cache
MP3Testing/obj/Debug/MP3Testing_MarkupCompile.i.cache
MP3Testing/obj/Debug/MP3Testing_MarkupCompile.lref
TestProj/bin/Debug/MP3Testing.exe
TestProj/bin/Debug/MP3Testing.pdb
TestProj/bin/Debug/TestProj.dll
TestProj/bin/Debug/TestProj.pdb
TestProj/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestProj/obj/Debug/TestProj.csproj.FileListAbsolute.txt
TestProj/obj/Debug/TestProj.csprojResolveAssemblyReference.cache
TestProj/obj/Debug/TestProj.dll
TestProj/obj/Debug/TestProj.pdb
